<ion-header>
  <ion-toolbar>
    <ion-title>
     Movie Optimizer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
  <ion-searchbar
  [(ngModel)]="myInput"
  (ionInput)="onInput($event)"
  [showCancelButton]="'true'"
  (ionCancel)="onCancel($event)">
</ion-searchbar>
  </div>
   <ion-list> 
   <!-- <ion-item (click)="buttonClick()"> 
        <ion-label>{{movieName}}</ion-label>
      </ion-item> -->
    </ion-list>
  <div *ngIf="shouldShow">
    <app-movie-detail [movieDetails]="movies"></app-movie-detail>
  </div>
</ion-content>
